- add_to_breadcrumbs _("Applications"), admin_applications_path
- breadcrumb_title @application.name
- page_title _("Edit"), @application.name, _("Applications")

%h1.page-title
  = _('Edit application')
- @url = admin_application_path(@application)
= render 'form', application: @application
